<!--
    Launch the f1tenth stack on the F1Tenth platform and the turtlebot stack on each
    of the turtlebots.
-->

<launch>
    <arg name="base_path" default="$(find rgc_control)/saved_policies/base"/>

    <!-- Start the F1Tenth stack -->
    <include file="$(find rgc)/launch/tro_f1tenth.launch">
        <arg name="base_path" default="$(arg base_path)"/>
        <arg name="traj_filepath" default="ego_traj_nominal_111.pkl"/>

        <arg name="position_topic" default="/vicon/realm_f1tenth/realm_f1tenth"/>

        <arg name="T" default="12"/>
    </include>
</launch>