<!-- This launch file starts the controller and state estimator for the turtlebot platform -->

<launch>
    <arg name="machine_name" default="realm_turtle0"/>

    <arg name="base_path" default="$(find rgc_control)/saved_policies"/>
    <arg name="traj_filepath" default="base/non_ego_traj_0.eqx"/>
    
    <arg name="vicon_topic" default="/vicon/realm_turtle0/realm_turtle0"/>
    
    <!-- State estimator -->
    <node name="turtlebot_state_estimator" pkg="rgc_state_estimators" type="turtlebot_ekf.py" output="screen">
        <param name="position_topic" type="string" value="$(arg vicon_topic)"/>
    </node>

    <!-- Controller -->
    <node name="turtlebot_controller" pkg="rgc_control" type="turtlebot_control.py" output="screen">
        <!-- Info on where to find the saved trajectory file -->
        <param name="trajectory/base_path" type="string" value="$(arg base_path)"/>
        <param name="trajectory/filename" type="string" value="$(arg traj_filepath)"/>

        <!-- Match up with state estimator topic name -->
        <param name="state_estimate_topic" type="string" value="turtlebot_state_estimator"/>
    </node>

</launch>