<!-- This launch file starts the controller and state estimator for the F1Tenth platform -->

<launch>
    <arg name="base_path" default="$(find rgc_control)/saved_policies/base"/>
    <arg name="traj_filepath" default="ego_traj_nominal_3.pkl"/>

    <arg name="T" default="12"/>
    <arg name="v_ref" default="0.5"/>

    <arg name="position_topic" default="/vicon/realm_f1tenth/realm_f1tenth"/>
    <arg name="position_topic_sim" default="/vicon/realm_f1tenth/realm_f1tenth_sim"/>
    <arg name="position_topic1" default="/vicon/realm_f1tenth/realm_obs"/>
    <arg name="position_topic2" default="/vicon/realm_f1tenth/realm_obs2"/>
    
    <!-- State estimator -->
    <node name="f1tenth_state_estimator" pkg="rgc_state_estimators" type="f1tenth_euler.py" output="screen">
        <param name="position_topic" type="string" value="$(arg position_topic)"/>
    </node>

    <!-- Controller -->
    <node name="f1tenth_controller" pkg="rgc_control" type="f1_tenth_control_gcbf.py" output="screen">
        <!-- Info on where to find the saved trajectory file -->
        <param name="trajectory/base_path" type="string" value="$(arg base_path)"/>
        <param name="trajectory/filename" type="string" value="$(arg traj_filepath)"/>

        <!-- Match up with state estimator topic name -->
        <param name="state_estimate_topic" type="string" value="f1tenth_state_estimator/estimate"/>

        <!-- Set experiment time -->
        <param name="T" type="double" value="$(arg T)"/>
    </node>
</launch>