<!-- This launch file starts the controller and state estimator for the F1Tenth platform -->

<launch>
    <arg name="base_path" default="$(find rgc_control)/saved_policies/base"/>
    <arg name="traj_filepath" default="experiment_trial_2.pkl"/>

    <arg name="T" default="12"/>
    <arg name="v_ref" default="1.0"/>

    <arg name="scale" default="1.0"/>
    <arg name="x_offset" default="-4.0"/>
    <arg name="y_offset" default="0.0"/>

    <arg name="position_topic" default="/vicon/realm_f1tenth/realm_f1tenth"/>
    
    <!-- State estimator -->
    <node name="f1tenth_state_estimator" pkg="rgc_state_estimators" type="f1tenth_ekf.py" output="screen">
        <param name="position_topic" type="string" value="$(arg position_topic)"/>
    </node>

    <!-- Controller -->
    <node name="f1tenth_controller" pkg="rgc_control" type="f1tenth_control_ral.py" output="screen">
        <!-- Info on where to find the saved trajectory file -->
        <param name="trajectory/base_path" type="string" value="$(arg base_path)"/>
        <param name="trajectory/filename" type="string" value="$(arg traj_filepath)"/>

        <!-- Match up with state estimator topic name -->
        <param name="state_estimate_topic" type="string" value="f1tenth_state_estimator/estimate"/>

        <!-- Set experiment time -->
        <param name="T" type="double" value="$(arg T)"/>

        <param name="v_ref" type="double" value="$(arg v_ref)"/>

        <param name="scale" type="double" value="$(arg scale)"/>
        <param name="x_offset" type="double" value="$(arg x_offset)"/>
        <param name="y_offset" type="double" value="$(arg y_offset)"/>
    </node>
</launch>